<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazinul CoffeeTeaRia ofera o selectie inedita de cafele si ceaiuri pentru gusturile fiecaruia!">
        <meta name="keywords" content="cafea, ceai, magazin, shop, coffee, tea, store, magazin online, cafenea, București, CoffeeTeaRia">
        <title>CoffeeTeaRia</title>
        <%- include("../Fragmente/head.ejs")  %>
        
    </head>

    <body>
        <%- include("../Fragmente/header.ejs")  %>
        <main>  
            <%- include("../Fragmente/galerie-statica.ejs")  %>
        </main>
    
        <%- include("../Fragmente/footer.ejs")  %>
    
    </body>
</html>



